########################
# global ignore file
########################

#
# Ignore temporary files (left by editors and OS)
.DS_Store

#
# Ignore by common IDEs used directories/files
*.idea
.vscode/

#
# Temporary files and folders
.php_cs.cache
.phpunit.result.cache
/temporary
/artifacts

#
# Ignore composer stuff
/bin/*
/vendor/*

#
# Ignore specific files/directories
.config.yaml
/private/*
!/private/.gitkeep
